<div class="container" [class.example-is-mobile]="mobileQuery.matches">

  <!-- Header -->
  <mat-toolbar class="toolbar">
    <mat-icon (click)="snav.toggle()" style="margin-left: 1%" matTooltip="Main Menu">menu
    </mat-icon>

    <div class="logo" style="margin-left: 4%">

      <div class="blue-color">F</div>
      <div class="red-color">u</div>
      <div class="orange-color">n</div>
      <div class="blue-color">d</div>
      <div class="green-color">o</div>
      <div class="red-color">o</div>
      <div class="blue-color">N</div>
      <div class="red-color">o</div>
      <div class="orange-color">t</div>
      <div class="blue-color">e</div>
      <div class="green-color">s</div>
    </div>

    <!-- Search bar in header -->
    <div fxHide.lt-md="true" class="search-box-in-header" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon style="margin-left:1%;color: grey">search</mat-icon>
      <div style="margin-left:5%">
        <mat-form-field appearance="fill legacy" style="width:300%; margin-top: 8%">
          <input (keyup)="searchNotes($event)" [formControl]="search" matInput placeholder="Search">
        </mat-form-field>
      </div>
    </div>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>


    <!-- Three Icons -->
    <div fxLayout="row" fxLayoutAlign="space-around" style="margin-top: 1%; margin-left:5%">

      <div fxHide.gt-xs="true">
        <mat-icon style="color: grey">search</mat-icon>
      </div>
      <div ngClass.xs=three-icons-in-header-smaller-screen>
        <mat-icon matTooltip="refresh" style="color: grey">refresh</mat-icon>
      </div>
      <div [fxHide]="layout" ngClass.gt-xs="three-icons-in-header-bigger-screen" fxHide.xs="true">
        <mat-icon (click)="changeLayout()" matTooltip="List View" style="color: grey">view_agenda</mat-icon>
      </div>
      <div [fxHide]="!layout" ngClass.gt-xs="three-icons-in-header-bigger-screen" fxHide.xs="true">
        <mat-icon (click)="changeLayout()" matTooltip="Grid View" style="color: grey">dashboard</mat-icon>
      </div>
      <div ngClass.gt-xs="three-icons-in-header-bigger-screen" ngClass.xs=three-icons-in-header-smaller-screen>
        <mat-icon (click)="cart()" matTooltip="Shop" style="color: grey">shopping_cart</mat-icon>
      </div>
      <div style="margin-left:80%;color: grey" fxHide.lt-lg="true">
        <mat-icon matTooltip="Apps">apps</mat-icon>
      </div>
    </div>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>


    <!-- Log Out Icon -->
    <div fxLayout="row" fxLayoutAlign="space-around" ngClass="log-out-icon">

      <button mat-mini-fab color="warn" matTooltip="Log Out">
        <mat-icon [matMenuTriggerFor]="logOutMenu">thumb_down_alt</mat-icon>
      </button>
      <mat-menu #logOutMenu="matMenu">
        <button disabled mat-menu-item>
          <strong>
            {{user.firstName}} {{user.lastName}}
          </strong>
        </button>
        <button disabled mat-menu-item>
          {{user.email}}
        </button>
        <button mat-menu-item>
          <button (click)="addAccount()" mat-raised-button>Add account</button>
          <button (click)="logOut()" mat-raised-button>Log Out</button>
        </button>
      </mat-menu>

    </div>
  </mat-toolbar>



  <!-- Rest of Page -->
  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">


    <!-- Side nav bar contents -->
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56" ngClass.gt-xs="sidenav-bigger-screen" ngClass.xs="sidenav-smaller-screen">

      <mat-nav-list style="margin-left:4%">

        <mat-list-item (click)="openNotes()" class="sidenav-content">
          <mat-icon>emoji_objects</mat-icon>
          <h3 style="margin-left:18%">
            Notes
          </h3>
        </mat-list-item>

        <mat-list-item (click)="redirectToReminders()" [fxHide]="!advancedUser" class="sidenav-content">
          <mat-icon>notifications_none</mat-icon>
          <h3 style="margin-left:18%">
            Reminders
          </h3>
        </mat-list-item>

        <mat-divider [fxHide]="!advancedUser"></mat-divider>

        <mat-list-item [fxHide]="!advancedUser">
          <p>LABELS</p>
        </mat-list-item>

        <mat-list-item (click)="redirectToLabel(label)" [fxHide]="!advancedUser" class="sidenav-content"
          *ngFor="let label of allLabels">
          <mat-icon>label</mat-icon>
          <h3 style="margin-left:18%">
            {{label.label}}
          </h3>
          <span class="fill-remaining-space"></span>
        </mat-list-item>

        <mat-list-item (click)="openEditor()" [fxHide]="!advancedUser" class="sidenav-content">
          <mat-icon>colorize</mat-icon>
          <h3 style="margin-left:18%">
            Edit labels
          </h3>
        </mat-list-item>

        <mat-divider [fxHide]="!advancedUser"></mat-divider>


        <mat-list-item [fxHide]="!advancedUser" (click)="openArchive()" class="sidenav-content" style="margin-top: 4%">
          <mat-icon>archive</mat-icon>
          <h3 style="margin-left:18%">
            Archive
          </h3>
        </mat-list-item>


        <mat-list-item [fxHide]="!advancedUser" (click)="openBin()" class="sidenav-content">
          <mat-icon>delete_outline</mat-icon>
          <h3 style="margin-left:18%">
            Bin
          </h3>
        </mat-list-item>

      </mat-nav-list>

    </mat-sidenav>


    <!-- Main Contents -->
    <mat-sidenav-content style="min-height: 560px" ngClass.gt-xs="main-content-bigger-screen"
      ngClass.xs="main-content-smaller-screen">

      <div fxLayout="column" fxLayoutAlign="space-around center">

        <!-- Search bar-->
        <div [fxHide]="hideSearchSection" ngClass.xs="complete-search-bar-minimized"
          ngClass.gt-xs="complete-search-bar-maximized">

          <!-- Minimized -->
          <mat-card class="search-bar-minimized" ngClass.xs="search-bar-minimized-smaller-screen"
            *ngIf="!hideCheckListCard" [fxHide]='hide' fxLayout="row" FxLayoutAlign="space-between center">

            <mat-card-subtitle style="width:70%; margin-top:-2em">
              <mat-form-field (click)='changeHide()' appearance="fill legacy">
                <input matInput placeholder="Take a note...">
              </mat-form-field>
            </mat-card-subtitle>

            <mat-card-content ngClass.xs="mat-card-content-smaller-screen" [fxHide]="!advancedUser" style="width:30%">
              <div fxLayout="row" fxLayoutAlign="space-around center">
                <div>
                  <mat-icon (click)="hideCheckListCard = !hideCheckListCard; checkList = []" matTooltip="New List">
                    check_box
                  </mat-icon>
                </div>
                <div>
                  <mat-icon matTooltip="New Note with image">
                    wallpaper
                  </mat-icon>
                </div>
              </div>
            </mat-card-content>


          </mat-card>

          <!-- Maximized -->
          <mat-card [style.background]="getBackgroundColor()" style="border-radius : 10px;"
            ngClass.xs="mat-card-maximized-small-screen" [fxHide]='!hide'>
            <mat-card-title fxLayout="row" fxLayoutAlign="space-between">
              <input [formControl]='title' matInput placeholder="Title">
              <div (click)="pinUnpinNote()" [fxHide]="!advancedUser">
                <mat-icon [fxHide]="isPinned">
                  work
                </mat-icon>
                <mat-icon [fxHide]="!isPinned">
                  work_off
                </mat-icon>
              </div>
            </mat-card-title>

            <mat-card-subtitle>
              <textarea [formControl]='content' style="color:black" matTextareaAutosize matInput
                placeholder="Take a note..."></textarea>
            </mat-card-subtitle>

            <mat-card-content>

              <div>
                <mat-chip-list *ngFor="let label of inputLabels">
                  <mat-chip>
                    {{label.label}}
                    <mat-icon matChipRemove (click)="addLabelsFromExistingLabels(label)">
                      clear
                    </mat-icon>
                  </mat-chip>

                </mat-chip-list>
              </div>

              <div>
                <div *ngFor="let user of user.collaborators">
                  <button mat-mini-fab>
                    {{user.firstName[0]}}
                  </button>
                </div>
              </div>

            </mat-card-content>


            <mat-card-actions>

              <div style="color: grey" fxLayout="row" fxLayoutAlign="space-around center" ngClass.xs="occupy-full">

                <!-- reminder -->
                <div [fxHide]="!advancedUser">
                  <mat-icon #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="reminderMenu">
                    notifications_none
                  </mat-icon>
                  <mat-menu #reminderMenu="matMenu">
                    <div mat-menu-item (click)="$event.stopPropagation()">
                      <mat-form-field>
                        <input matInput [formControl]="myDatePicker" [min]="minDate" [matDatepicker]="picker"
                          placeholder="Choose a date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div mat-menu-item (click)="$event.stopPropagation()">
                      <mat-form-field>
                        <input [formControl]="myTimePicker" matInput placeholder="Enter a time">
                        <mat-icon>
                          access_time
                        </mat-icon>
                      </mat-form-field>
                    </div>
                    <div mat-menu-item (click)="addReminder()">
                      <button mat-button>Save</button>
                    </div>
                  </mat-menu>
                </div>

                <div [fxHide]="!advancedUser">
                  <mat-icon (click)="addCollaborator(user)" matTooltip="Collaborator">
                    person_add
                  </mat-icon>
                </div>

                <div [fxHide]="!advancedUser">
                  <mat-icon [matMenuTriggerFor]="colorMenu">
                    color_lens
                  </mat-icon>
                  <mat-menu #colorMenu="matMenu">

                    <div class="color-picker">

                      <div class="opened">
                        <div class="colors">
                          <div *ngFor="let paint of defaultColors1" (click)="changeColor(paint)" class="circle"
                            [ngStyle]="{'background': paint}"></div>
                        </div>
                        <div class="colors">
                          <div *ngFor="let paint of defaultColors2" (click)="changeColor(paint)" class="circle"
                            [ngStyle]="{'background': paint}"></div>
                        </div>
                        <div class="colors">
                          <div *ngFor="let paint of defaultColors3" (click)="changeColor(paint)" class="circle"
                            [ngStyle]="{'background': paint}"></div>
                        </div>
                      </div>

                    </div>
                  </mat-menu>
                </div>

                <div [fxHide]="!advancedUser">
                  <mat-icon matTooltip="Add Image">
                    image
                  </mat-icon>
                </div>

                <div [fxHide]="!advancedUser">
                  <mat-icon *ngIf="!isArchived" (click)="archiveUnarchiveNote()" matTooltip="Archive">
                    archive
                  </mat-icon>
                  <mat-icon *ngIf="isArchived" (click)="archiveUnarchiveNote()" matTooltip="Unarchive">
                    unarchive
                  </mat-icon>
                </div>

                <div [fxHide]="!advancedUser">
                  <mat-icon [matMenuTriggerFor]="newNoteMenu" matTooltip="Add Label">
                    more_vert
                  </mat-icon>
                  <mat-menu style="overflow: hidden;" #newNoteMenu="matMenu">
                    <strong (click)="stopPropagation($event)" mat-menu-item>
                      Add Label
                    </strong>
                    <form mat-menu-item (click)="stopPropagation($event)">
                      <input [formControl]="label" style="margin-left:1em;width: 80%;" matInput
                        placeholder="Enter a label">
                    </form>
                    <div mat-menu-item style="margin-left:1em;width: 80%" *ngFor="let label of allLabels">
                      <mat-checkbox [checked]="labelPresent(label)" (change)="addLabelsFromExistingLabels(label)">
                        {{label.label}}</mat-checkbox>
                    </div>
                    <button (click)="addLabel()" mat-menu-item>
                      Save
                    </button>
                  </mat-menu>
                </div>

                <div [fxHide]="!advancedUser">
                  <mat-icon matTooltip="Undo">
                    undo
                  </mat-icon>
                </div>

                <div [fxHide]="!advancedUser">
                  <mat-icon matTooltip="Redo">
                    redo
                  </mat-icon>
                </div>

                <div style="color: black" fxHide.xs="true">
                  <button mat-button (click)="changeHide();saveNote()">
                    Close
                  </button>
                </div>
              </div>

              <div [fxHide]="!advancedUser" align="right" style="color: black" fxHide.gt-xs="true">
                <button mat-button (click)="changeHide();saveNote()">
                  Close
                </button>
              </div>
            </mat-card-actions>
          </mat-card>

          <!-- Mat Card for Checklist -->
          <mat-card [style.background]="getBackgroundColor()" style="border-radius : 10px;"
            ngClass.xs="mat-card-maximized-small-screen" [fxHide]='!hideCheckListCard'>
            <mat-card-title fxLayout="row" fxLayoutAlign="space-between">
              <input [formControl]='title' matInput placeholder="Title">
              <div (click)="pinUnpinNote()" [fxHide]="!advancedUser">
                <mat-icon [fxHide]="isPinned">
                  work
                </mat-icon>
                <mat-icon [fxHide]="!isPinned">
                  work_off
                </mat-icon>
              </div>
            </mat-card-title>

            <mat-card-subtitle>
              <mat-list *ngFor="let item of checkList; let i = index">
                <mat-list-item>
                  <mat-checkbox fxFlex>
                    <!-- <input #text matInput [value]="item"> -->
                    {{item}}
                  </mat-checkbox>
                  <mat-icon (click)="deleteListItem(item)">
                    clear
                  </mat-icon>
                  <!-- <mat-icon (click)="editCheckListItem(i)">
                    done
                  </mat-icon> -->
                </mat-list-item>
              </mat-list>
              <mat-list>
                <mat-list-item>
                  <mat-icon mat-list-icon>
                    add
                  </mat-icon>
                  <input (keydown)="addCheckList($event)" [formControl]="checkListInput" matInput
                    placeholder="List Item">
                </mat-list-item>
              </mat-list>
            </mat-card-subtitle>

            <mat-card-content>

              <div>
                <mat-chip-list *ngFor="let label of inputLabels">
                  <mat-chip>
                    {{label.label}}
                    <mat-icon matChipRemove (click)="addLabelsFromExistingLabels(label)">
                      clear
                    </mat-icon>
                  </mat-chip>

                </mat-chip-list>
              </div>

              <div>
                <div *ngFor="let user of user.collaborators">
                  <button mat-mini-fab>
                    {{user.firstName[0]}}
                  </button>
                </div>
              </div>

            </mat-card-content>

            <mat-card-actions>

              <div style="color: grey" fxLayout="row" fxLayoutAlign="space-around center" ngClass.xs="occupy-full">

                <div [fxHide]="!advancedUser">
                  <mat-icon #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="reminderMenu">
                    notifications_none
                  </mat-icon>
                  <mat-menu #reminderMenu="matMenu">
                    <div mat-menu-item (click)="$event.stopPropagation()">
                      <mat-form-field>
                        <input matInput [formControl]="myDatePicker" [min]="minDate" [matDatepicker]="picker1"
                          placeholder="Choose a date">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div mat-menu-item (click)="$event.stopPropagation()">
                      <mat-form-field>
                        <input [formControl]="myTimePicker" matInput placeholder="Enter a time">
                        <mat-icon>
                          access_time
                        </mat-icon>
                      </mat-form-field>
                    </div>
                    <div mat-menu-item (click)="addReminder()">
                      <button mat-button>Save</button>
                    </div>
                  </mat-menu>
                </div>

                <div [fxHide]="!advancedUser">
                  <mat-icon (click)="addCollaborator(user)" matTooltip="Collaborator">
                    person_add
                  </mat-icon>
                </div>

                <div [fxHide]="!advancedUser">
                  <mat-icon [matMenuTriggerFor]="colorMenu">
                    color_lens
                  </mat-icon>
                  <mat-menu #colorMenu="matMenu">

                    <div class="color-picker">

                      <div class="opened">
                        <div class="colors">
                          <div *ngFor="let paint of defaultColors1" (click)="changeColor(paint)" class="circle"
                            [ngStyle]="{'background': paint}"></div>
                        </div>
                        <div class="colors">
                          <div *ngFor="let paint of defaultColors2" (click)="changeColor(paint)" class="circle"
                            [ngStyle]="{'background': paint}"></div>
                        </div>
                        <div class="colors">
                          <div *ngFor="let paint of defaultColors3" (click)="changeColor(paint)" class="circle"
                            [ngStyle]="{'background': paint}"></div>
                        </div>
                      </div>

                    </div>
                  </mat-menu>
                </div>

                <div [fxHide]="!advancedUser">
                  <mat-icon matTooltip="Add Image">
                    image
                  </mat-icon>
                </div>

                <div [fxHide]="!advancedUser">
                  <mat-icon *ngIf="!isArchived" (click)="archiveUnarchiveNote()" matTooltip="Archive">
                    archive
                  </mat-icon>
                  <mat-icon *ngIf="isArchived" (click)="archiveUnarchiveNote()" matTooltip="Unarchive">
                    unarchive
                  </mat-icon>
                </div>

                <div [fxHide]="!advancedUser">
                  <mat-icon [matMenuTriggerFor]="newNoteMenu" matTooltip="Add Label">
                    more_vert
                  </mat-icon>
                  <mat-menu style="overflow: hidden;" #newNoteMenu="matMenu">
                    <strong (click)="stopPropagation($event)" mat-menu-item>
                      Add Label
                    </strong>
                    <form mat-menu-item (click)="stopPropagation($event)">
                      <input [formControl]="label" style="margin-left:1em;width: 80%;" matInput
                        placeholder="Enter a label">
                    </form>
                    <div mat-menu-item style="margin-left:1em;width: 80%" *ngFor="let label of allLabels">
                      <mat-checkbox [checked]="labelPresent(label)" (change)="addLabelsFromExistingLabels(label)">
                        {{label.label}}</mat-checkbox>
                    </div>
                    <button (click)="addLabel()" mat-menu-item>
                      Save
                    </button>
                  </mat-menu>
                </div>

                <div [fxHide]="!advancedUser">
                  <mat-icon matTooltip="Undo">
                    undo
                  </mat-icon>
                </div>

                <div [fxHide]="!advancedUser">
                  <mat-icon matTooltip="Redo">
                    redo
                  </mat-icon>
                </div>

                <div style="color: black" fxHide.xs="true">
                  <button mat-button (click)="hideCheckListCard = !hideCheckListCard;saveNote();">
                    Close
                  </button>
                </div>
              </div>

              <div [fxHide]="!advancedUser" align="right" style="color: black" fxHide.gt-xs="true">
                <button mat-button (click)="hideCheckListCard = !hideCheckListCard;saveNote();">
                  Close
                </button>
              </div>
            </mat-card-actions>
          </mat-card>


        </div>

        <!-- Notes -->
        <div ngClass.gt-md="notes-bigger-screen" ngClass.sm="notes-medium-screen" ngClass.md="notes-medium-screen"
          ngClass.xs="notes-smaller-screen">

          <!-- Notes Starting Point -->

          <router-outlet></router-outlet>

          <!-- Notes Ending Point -->


        </div>

      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>