.header {
  height: 56px;
  //   background: grey;
}

.search-box-in-header {
  margin-left: 6%;
  border-radius: 5px;
  border: 1px solid rgb(251, 251, 251);
  height: 35px;
  width: 50%;
  background-color: rgb(241, 240, 240); 
}

.three-icons-bigger-screen{
    margin-left: 200%
}

.three-icons-smaller-screen{
    margin-left: 15%;
}
