.sidenav-container {
  height: 89%;
}

.sidenav-bigger-screen {
  width: 23%;
}

.sidenav-smaller-screen {
  width: 80%;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.search-box-in-header {
  margin-left: 6%;
  border-radius: 5px;
  border: 1px solid rgb(251, 251, 251);
  height: 35px;
  width: 50%;
  background-color: rgb(204, 204, 204);
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
