<mat-toolbar>
  <mat-icon (click)="drawer.toggle()" style="margin-left: 1%" class="material-icons">menu</mat-icon>

  <div class="logo" style="margin-left: 4%">
    <div class="blue-color">F</div>
    <div class="red-color">u</div>
    <div class="orange-color">n</div>
    <div class="blue-color">d</div>
    <div class="green-color">o</div>
    <div class="red-color">o</div>
    <div class="blue-color">N</div>
    <div class="red-color">o</div>
    <div class="orange-color">t</div>
    <div class="blue-color">e</div>
    <div class="green-color">s</div>
  </div>

  <!-- Search bar in header -->
  <div fxHide.xs="true" class="search-box-in-header" fxLayout="row" fxLayoutAlign="start center">
    <mat-icon style="margin-left:1%;color: grey" class="material-icons">search</mat-icon>
    <div style="margin-left:5%">
      <mat-form-field appearance="fill legacy" style="width:335%; margin-top: 8%">
        <input matInput placeholder="Search">
      </mat-form-field>
    </div>
  </div>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>


  <!-- Three Icons -->
  <div fxLayout="row" fxLayoutAlign="space-around" style="margin-top: 1%">

    <div>
      <mat-icon class="material-icons" style="color: grey">refresh</mat-icon>
    </div>
    <div style="margin-left:20%">
      <mat-icon class="material-icons" style="color: grey">view_stream</mat-icon>
    </div>
    <div style="margin-left:20%">
      <mat-icon class="material-icons" style="color: grey">settings</mat-icon>
    </div>

  </div>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <!-- Log Out Icon -->
  <div fxLayout="row" fxLayoutAlign="space-around">
    <!-- <mat-icon class="material-icons" style="color: grey">mood_bad</mat-icon> -->
    <button mat-mini-fab color="warn">
      <mat-icon>mood_bad</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer ngClass.gt-xs="sidenav-bigger-screen" ngClass.xs="sidenav-smaller-screen"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">

    <mat-nav-list style="margin-left:4%">

      <mat-list-item>
        <i class="material-icons">whatshot</i>
        <h3 style="margin-left:18%">
          Notes
        </h3>
      </mat-list-item>

      <mat-list-item>
        <i class="material-icons">notifications_none</i>
        <h3 style="margin-left:18%">
          Reminders
        </h3>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item>
        <p>LABELS</p>
      </mat-list-item>

      <mat-list-item>
        <i class="material-icons">colorize</i>
        <h3 style="margin-left:18%">
          Edit labels
        </h3>
      </mat-list-item>

      <mat-divider></mat-divider>


      <mat-list-item>
        <i class="material-icons">archive</i>
        <h3 style="margin-left:18%">
          Archive
        </h3>
      </mat-list-item>


      <mat-list-item>
        <i class="material-icons">delete_outline</i>
        <h3 style="margin-left:18%">
          Bin
        </h3>
      </mat-list-item>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

  </mat-sidenav-content>

</mat-sidenav-container>