<div style="margin-top:2.5em" fxLayout.gt-xs="{{ notesLayout ? 'row wrap' : 'column' }}" fxLayout.xs="column"
    fxLayoutAlign="{{ notesLayout ? 'start start' : 'center start' }}" gdGridAlign>
    <div *ngFor="let note of notesList.reverse() | search:searchWord">
        <mat-card style="margin-left: 10px; margin-top: 10px; border-radius: 15px;"
            [style.background-color]="getBackgroundColor(note.color)" *ngIf="note.isDeleted"
            ngClass.lt-md="note-smaller-screen"
            ngClass.gt-md="{{ notesLayout ? 'note-bigger-screen':'note-bigger-screen-column' }}" class="extra-actions">

            <mat-card-title>
                {{note.title}}
            </mat-card-title>

            <mat-card-content>
                {{note.description}}
            </mat-card-content>

            <mat-card-content>
                <div *ngFor="let list of note.noteCheckLists">
                    <div (click)="checkListChange(list)" class="checkbox-icons">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <button mat-icon-button>
                                <mat-icon *ngIf="!checkListStatus(list)">
                                    check_box_outline_blank
                                </mat-icon>
                                <mat-icon *ngIf="checkListStatus(list)">
                                    check_box
                                </mat-icon>
                            </button>
                            <p [ngClass]="checkListStatus(list) ? 'checked' : 'unchecked'" class="label-text">
                                {{list.itemName}}</p>
                        </div>
                    </div>
                </div>
            </mat-card-content>

            <div *ngIf="note.reminder.length > 0">
                <mat-chip-list>

                    <mat-chip class="label" style="margin-top: 10px">
                        <i class="material-icons">
                            timer
                        </i>

                        <p [ngClass]="checkReminder(note) ? 'checked':'unchecked'">
                            {{ note.reminder | dateConverter | date: 'medium' | myDatePipe }}
                        </p>


                        <mat-icon (click)="removeReminder(note)" matChipRemove>
                            clear
                        </mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </div>

            <mat-card-content>

                <mat-chip-list *ngFor="let labels of note.noteLabels">
                    <mat-chip class="label" style="margin-top: 10px" *ngIf="labels.label != labelName">
                        {{labels.label}}
                        <mat-icon matChipRemove (click)="deleteLabel(labels,note)">
                            clear
                        </mat-icon>
                    </mat-chip>
                </mat-chip-list>

            </mat-card-content>

            <mat-card-content>

                <div *ngFor="let user of note.collaborators">
                    <button mat-mini-fab>
                        {{user.firstName[0]}}
                    </button>
                </div>

            </mat-card-content>

            <mat-card-actions>

                <div style="color: black" fxLayout="row" fxLayoutAlign="space-between" ngClass.xs="occupy-full">

                    <div>
                        <mat-icon [matMenuTriggerFor]="menu" matTooltip="More">
                            more_vert
                        </mat-icon>
                        <mat-menu #menu="matMenu">
                            <button (click)="restoreNote(note)" mat-menu-item>Restore</button>
                            <button (click)="deleteForever(note)" mat-menu-item>Delete Permanent</button>
                        </mat-menu>
                    </div>
                </div>

            </mat-card-actions>

        </mat-card>
    </div>
</div>