<div fxLayout.gt-md="{{ notesLayout ? 'row wrap' : 'column' }}" [style.margin-left]="getMargin()" fxLayout.lt-md="column" fxLayoutGap="4px">
  <div *ngFor="let note of notesList.reverse()">
      <mat-card [style.background-color]="getBackgroundColor(note.color)" *ngIf="note.isDeleted"
          ngClass.lt-md="note-smaller-screen" ngClass.gt-md="note-bigger-screen" class="extra-actions">

          <mat-card-title>
              {{note.title}}
          </mat-card-title>

          <mat-card-content>
              {{note.description}}
          </mat-card-content>

          <mat-card-actions>

              <div style="color: black" fxLayout="row" fxLayoutAlign="space-around center" ngClass.xs="occupy-full">

                  <div>
                      <mat-icon  matTooltip="Remind Me">
                          notifications_none
                      </mat-icon>
                  </div>

                  <div>
                      <mat-icon  matTooltip="Collaborator">
                          person_add
                      </mat-icon>
                  </div>
                  <div class="color-palette" matTooltip="Change color">
                        <mat-icon [matMenuTriggerFor]="colorMenu">
                            color_lens
                        </mat-icon>
                        <mat-menu #colorMenu="matMenu">

                            <div class="color-picker">

                                <div class="opened">
                                    <div class="colors">
                                        <div *ngFor="let paint of defaultColors1" (click)="changeColor(paint,note)"
                                            class="circle" [ngStyle]="{'background': paint}"></div>
                                    </div>
                                    <div class="colors">
                                        <div *ngFor="let paint of defaultColors2" (click)="changeColor(paint,note)"
                                            class="circle" [ngStyle]="{'background': paint}"></div>
                                    </div>
                                    <div class="colors">
                                        <div *ngFor="let paint of defaultColors3" (click)="changeColor(paint,note)"
                                            class="circle" [ngStyle]="{'background': paint}"></div>
                                    </div>
                                </div>

                            </div>
                        </mat-menu>
                    </div>

                  <div>
                      <mat-icon  matTooltip="Add Image">
                          image
                      </mat-icon>
                  </div>

                  <div>
                      <mat-icon (click)="archiveNote(note)"  matTooltip="Archive">
                          archive
                      </mat-icon>
                  </div>

                  <div>
                      <mat-icon [matMenuTriggerFor]="menu"  matTooltip="More">
                          more_vert
                      </mat-icon>
                      <mat-menu #menu="matMenu">
                          <button (click)="restoreNote(note)" mat-menu-item>Restore</button>
                          <button (click)="deleteForever(note)" mat-menu-item>Delete Permanent</button>
                      </mat-menu>
                  </div>
              </div>

          </mat-card-actions>

      </mat-card>
  </div>
</div>