<div style="padding: 10px;">
  <mat-list>
    <mat-list-item>
      <mat-icon mat-list-icon>
        keyboard_backspace
      </mat-icon>
      <p mat-line>
        Pick Date and time
      </p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-list-item>
  </mat-list>
</div>