<mat-toolbar>
  <span>
    <div class="blue-color">F</div>
    <div class="red-color">u</div>
    <div class="orange-color">n</div>
    <div class="blue-color">d</div>
    <div class="green-color">o</div>
    <div class="red-color">o</div>
    <div class="blue-color">N</div>
    <div class="red-color">o</div>
    <div class="orange-color">t</div>
    <div class="blue-color">e</div>
    <div class="green-color">s</div>
  </span>
  <span class="fill-remaining-space"></span>
  <button (click)="logIn()" mat-raised-button class="next-button">
    Log In
  </button>
</mat-toolbar>

<h3 align="center">
  FundooNotes offered. Choose below Service to register
</h3>

<div fxLayout="row" fxLayoutAlign="space-evenly center" class="payment-cards" ngClass.xs="payment-cards-smaller">

  <mat-card (click)="addToCartAdvance()">

    <mat-card-title>
      price: $99 per month
    </mat-card-title>

    <mat-card-subtitle style="color:blue">
      advance
    </mat-card-subtitle>

    <mat-card-content>
      <ul>
        <li>
          $99/month
        </li>
        <li>
          Ability to add title, description, images, labels, checklists and colors
        </li>
      </ul>
    </mat-card-content>

    <mat-card class="second-card-advance">
      <mat-card-actions fxLayoutAlign="center end">
        <div class="content">
          ADD TO CART
        </div>
      </mat-card-actions>
    </mat-card>
  </mat-card>

  <mat-card (click)="addToCartBasic()">
    <mat-card-title>
      price: $49 per month
    </mat-card-title>

    <mat-card-subtitle style="color:blue">
      basic
    </mat-card-subtitle>

    <mat-card-content>
      <ul>
        <li>
          $49/month
        </li>
        <li>
          Ability to add only title and description
        </li>
      </ul>
    </mat-card-content>

    <mat-card class="second-card-basic">
      <mat-card-actions fxLayoutAlign="center end">
        <div class="content">
          ADD TO CART
        </div>
      </mat-card-actions>
    </mat-card>
  </mat-card>
</div>