<div fxLayout.gt-xs="{{ notesLayout ? 'row wrap' : 'column' }}" fxLayout.xs="column"
fxLayoutAlign="{{ notesLayout ? 'start start' : 'center start' }}" gdGridAlign>
    <div *ngFor="let note of notesList.reverse()">
        <mat-card style="margin-left: 10px; margin-top: 10px; border-radius: 15px;"
            [style.background-color]="getBackgroundColor(note.color)" *ngIf="note.isArchived && !note.isDeleted"
            ngClass.lt-md="note-smaller-screen"
            ngClass.gt-md="{{ notesLayout ? 'note-bigger-screen':'note-bigger-screen-column' }}" class="extra-actions">

            <mat-card-title (click)="openEditor(note)">
                {{note.title}}
            </mat-card-title>

            <mat-card-content (click)="openEditor(note)">
                {{note.description}}
            </mat-card-content>

            <mat-card-actions>

                <div style="color: black" fxLayout="row" fxLayoutAlign="space-around center" ngClass.xs="occupy-full">

                    <div>
                        <mat-icon matTooltip="Remind Me">
                            notifications_none
                        </mat-icon>
                    </div>

                    <div>
                        <mat-icon matTooltip="Collaborator">
                            person_add
                        </mat-icon>
                    </div>

                    <div class="color-palette" matTooltip="Change color">
                        <mat-icon [matMenuTriggerFor]="colorMenu">
                            color_lens
                        </mat-icon>
                        <mat-menu #colorMenu="matMenu">

                            <div class="color-picker">

                                <div class="opened">
                                    <div class="colors">
                                        <div *ngFor="let paint of defaultColors1" (click)="changeColor(paint,note)"
                                            class="circle" [ngStyle]="{'background': paint}"></div>
                                    </div>
                                    <div class="colors">
                                        <div *ngFor="let paint of defaultColors2" (click)="changeColor(paint,note)"
                                            class="circle" [ngStyle]="{'background': paint}"></div>
                                    </div>
                                    <div class="colors">
                                        <div *ngFor="let paint of defaultColors3" (click)="changeColor(paint,note)"
                                            class="circle" [ngStyle]="{'background': paint}"></div>
                                    </div>
                                </div>

                            </div>
                        </mat-menu>
                    </div>

                    <div>
                        <mat-icon matTooltip="Add Image">
                            image
                        </mat-icon>
                    </div>

                    <div>
                        <mat-icon (click)="unarchiveNote(note)" matTooltip="Unarchive">
                            unarchive
                        </mat-icon>
                    </div>

                    <div>
                        <mat-icon [matMenuTriggerFor]="menu" matTooltip="More">
                            more_vert
                        </mat-icon>
                        <mat-menu #menu="matMenu">
                            <button (click)="deleteNote(note)" mat-menu-item>Delete Note</button>
                        </mat-menu>
                    </div>
                </div>

            </mat-card-actions>

        </mat-card>
    </div>
</div>