<div class="container" ngClass.xs="container-smaller-screen">

  <mat-list>
    <mat-list-item>
      <div style="width: 100%;" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <h1>
            {{note.title}}
          </h1>
        </div>
        <div>
          <button (click)="redirectToNotes()" mat-button>close</button>
        </div>
      </div>
    </mat-list-item>
    <mat-list-item>
      {{note.description}}
    </mat-list-item>
    <mat-list *ngFor="let list of note.noteCheckLists">
      <mat-list-item>
        <mat-checkbox [ngClass]="checkListStatus(list) ? 'checked' : 'unchecked'" [checked]="checkListStatus(list)"
          (change)="checkListChange(list)">{{list.itemName}}</mat-checkbox>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    <mat-list *ngIf="note.questionAndAnswerNotes.length != 0">
      Questions asked
      <mat-list-item>
        <p [innerHTML]="note.questionAndAnswerNotes[0].message" style="color: gray;">
        </p>
      </mat-list-item>
    </mat-list>
    <mat-list *ngIf="note.questionAndAnswerNotes.length === 0">
      Ask a Question
      <div [formControl]="editorContent" [froalaEditor]>
      </div>
      <div fxLayoutAlign="end">
        <button (click)="askQuestion()" mat-button>
          Ask
        </button>
      </div>
    </mat-list>
    <mat-divider></mat-divider>
    <mat-list *ngIf="note.questionAndAnswerNotes.length != 0">
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <div>
          <img [src]="randomProfileImage" class="profile-image">
        </div>
        <div>
          {{note.user.firstName}} {{note.user.lastName}} {{note.questionAndAnswerNotes[0].createdDate | date:"medium"}}
        </div>
        <div>
          <mat-icon (click)="likeUnlikeQuestion()" [style.color]="yourLike ? 'blue' : 'gray'">
            thumb_up
          </mat-icon>
          <p style="top:-1px">
            {{ likes }} Likes
          </p>
          <div style="display: inline;" *ngFor="let rate of rating; index as i">
            <mat-icon (click)="changeRating(i)" *ngIf="rate === 0">
              star_border
            </mat-icon>
            <mat-icon (click)="changeRating(i)" style="color: gold" *ngIf="rate === 1">
              star
            </mat-icon>
          </div>
        </div>
      </div>
    </mat-list>
  </mat-list>

</div>