<div class="container" ngClass.xs="container-smaller-screen">

  <mat-list>
    <mat-list-item>
      <div style="width: 100%;" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <h1>
            {{note.title}}
          </h1>
        </div>
        <div>
          <button (click)="redirectToNotes()" mat-button>close</button>
        </div>
      </div>
    </mat-list-item>
    <mat-list-item>
      {{note.description}}
    </mat-list-item>
    <mat-list *ngFor="let list of note.noteCheckLists">
      <mat-list-item>
        <mat-checkbox [ngClass]="checkListStatus(list) ? 'checked' : 'unchecked'" [checked]="checkListStatus(list)"
          (change)="checkListChange(list)">{{list.itemName}}</mat-checkbox>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    <mat-list *ngIf="note.questionAndAnswerNotes.length != 0">
      Questions asked
      <ng-container *ngFor="let item of note.questionAndAnswerNotes">
        <mat-list-item>
          <p>
            {{ item.user.firstName }} {{ item.user.lastName }}-
          </p>
          <p [innerHTML]="item.message" style="color: gray;">
          </p>
        </mat-list-item>
      </ng-container>
    </mat-list>
    <mat-divider></mat-divider>
    <mat-list>
      <button *ngIf="!replyHide" (click)="toggleReplyHide()" mat-button>Reply</button>
      <div *ngIf="replyHide" [formControl]="editorContent" [froalaEditor]>
      </div>
      <button *ngIf="replyHide" (click)="toggleReplyHide();askQuestion()" mat-button>Reply</button>
    </mat-list>
    <mat-list *ngIf="note.questionAndAnswerNotes.length === 0">
      Ask a Question
      <div [formControl]="editorContent" [froalaEditor]>
      </div>
      <div fxLayoutAlign="end">
        <button (click)="askQuestion()" mat-button>
          Ask
        </button>
      </div>
    </mat-list>
    <mat-divider></mat-divider>
    <mat-list *ngFor="let item of note.questionAndAnswerNotes">
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <div>
          <!-- <img [src]="item.user.imageUrl" class="profile-image"> -->
          <img src="https://picsum.photos/500" class="profile-image">
        </div>
        <div>
          {{item.user.firstName}} {{item.user.lastName}} {{item.createdDate | date:"medium"}}
          <p [innerHTML]="item.message" style="color: gray;">
        </div>
        <div>
          <mat-icon *ngIf="!youLike(item)" (click)="likeQuestion(item)">
            thumb_up
          </mat-icon>
          <mat-icon style="color: blue" *ngIf="youLike(item)" (click)="unLikeQuestion(item)">
            thumb_down
          </mat-icon>
          <p style="top:-1px">
            {{ getLikes(item) }} Likes
          </p>
          <div style="display: inline;" *ngFor="let rate of rating(item); index as i">
            <mat-icon (click)="changeRating(i,item)" *ngIf="rate === 0">
              star_border
            </mat-icon>
            <mat-icon (click)="changeRating(i,item)" style="color: gold" *ngIf="rate === 1">
              star
            </mat-icon>
          </div>
        </div>
      </div>
    </mat-list>
  </mat-list>

</div>