.email-bar{
  width: 100%;
}

@mixin color-picker($color) {
  color: $color;
  display: inline;
}

.blue-color {
  @include color-picker(blue);
}
.red-color {
  @include color-picker(red);
}
.orange-color {
  @include color-picker(rgb(211, 112, 55));
}
.green-color {
  @include color-picker(rgb(42, 238, 58));
}

.forgot-email-button{
  @include color-picker(cornflowerblue);
  margin-top:-1.25em;
  margin-left:0.25em;
}

.complete-box{
  margin-top: 5%;
}

.not-your-computer{
  margin-top: 15%;
}

.learn-more{
  @include color-picker(cornflowerblue);
}

.create-account-next-div{
  margin-top:15%;
}