@import 'src/scss/styles.scss';

.email-bar{
  width: 100%;
}

.forgot-email-button{
  @include color-picker(cornflowerblue);
  margin-top:-1.25em;
  margin-left:0.25em;
}

.complete-box{
  margin-top: 5%;
}

.not-your-computer{
  margin-top: 15%;
}

.learn-more{
  @include color-picker(cornflowerblue);
}

.create-account-next-div{
  margin-top:15%;
}