<mat-card class="log-in-box">
  <mat-card-content align="center">
    <div class="blue-color">F</div>
    <div class="red-color">u</div>
    <div class="orange-color">n</div>
    <div class="blue-color">d</div>
    <div class="green-color">o</div>
    <div class="red-color">o</div>
    <div class="blue-color"> N</div>
    <div class="red-color">o</div>
    <div class="orange-color">t</div>
    <div class="blue-color">e</div>
    <div class="green-color">s</div>

    <h1>Sign In</h1>

    <p>Sign In to your account</p>
  </mat-card-content>

  <mat-form-field appearance="outline" hideRequiredMarker class="email-input">
    <mat-label>Email or phone</mat-label>
    <input matInput required>
    <mat-hint align="start"><button mat-button class="forgot-password-button">
        Forgot email?
      </button></mat-hint>
  </mat-form-field>

  <mat-card-content class="not-your-computer">
    Not your computer? Use Guest mode to sign in privately.
    <p>
      <button mat-button class="learn-more">
        Learn More
      </button>
    </p>
  </mat-card-content>

  <mat-card-content class="create-button-view">

    <div class="create-account-button">
      <button mat-button [matMenuTriggerFor]="menu">
        Create New Account
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>For Myself</button>
        <button mat-menu-item>To Manage My Business</button>
      </mat-menu>
    </div>
    <div class="sign-in">
      <button mat-raised-button color="primary" class="Sign In">
        Sign In
      </button>
    </div>

  </mat-card-content>

</mat-card>