<div style="padding: 10px;">
  <p>
    Remind Me
  </p>

  <mat-list dense>
    <mat-list-item (click)="addReminderPreSelectedDate('today','20:00')">
      <pre>
        Later Today                   8:00 PM
      </pre>
    </mat-list-item>
    <mat-list-item (click)="addReminderPreSelectedDate('tomorrow','08:00')">
      <pre>
        Tomorrow                     8:00 AM
      </pre>
    </mat-list-item>
    <mat-list-item (click)="addReminderPreSelectedDate('nextMonday','08:00')">
      <pre>
        Next Week                   Mon,8:00 AM
      </pre>
    </mat-list-item>
    <mat-list-item #triggerElement="matMenuTrigger" [matMenuTriggerFor]="datePickerMenu">
      <mat-icon mat-list-icon>access_time</mat-icon>
      <p mat-line>Pick Date & Time</p>
    </mat-list-item>
    <mat-menu #datePickerMenu="matMenu">
      <div (click)="$event.stopPropagation();closeMenu()" mat-menu-item>
        <mat-icon>
          keyboard_backspace
        </mat-icon>
        Pick Date & Time
      </div>
      <div mat-menu-item (click)="$event.stopPropagation()">
        <mat-form-field>
          <input matInput [formControl]="myDatePicker" [min]="minDate" [matDatepicker]="picker"
            placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div mat-menu-item (click)="$event.stopPropagation()">
        <mat-form-field>
          <input [formControl]="myTimePicker" matInput placeholder="Enter a time">
          <mat-icon [matMenuTriggerFor]="timePickerMenu">
            access_time
          </mat-icon>
        </mat-form-field>
      </div>
      <div mat-menu-item (click)="addReminder()">
        <button mat-button>Save</button>
      </div>
      <mat-menu #timePickerMenu="matMenu">
        <button mat-menu-item (click)="addReminderPreSelectedDate('today','08:00')">
          <pre>
            Morning                   8:00 AM
          </pre>
        </button>
        <div mat-menu-item (click)="addReminderPreSelectedDate('today','13:00')">
          <pre>
            Afternoon                1:00 PM
          </pre>
        </div>
        <div mat-menu-item (click)="addReminderPreSelectedDate('today','18:00')">
          <pre>
            Evening                    6:00 PM
          </pre>
        </div>
        <div mat-menu-item (click)="addReminderPreSelectedDate('today','20:00')">
          <pre>
            Night                        8:00 PM
          </pre>
        </div>
      </mat-menu>
    </mat-menu>
  </mat-list>
</div>